header {
  height: 100vh;
  background-image: url("../../assets/images/hero.jpg");
  background-repeat: none;
  background-size: cover;
  .nav-brand {
    width: 250px;
    position: absolute;
    top: 4rem;
    left: 6rem;
  }

  .hero-title {
    animation: fadeIn 4s;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  .hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    h1 {
      font-family: "Open Sans", sans-serif;
      font-weight: 800;
    }
    .large-outline-text-top {
      font-size: 4.5rem;
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: white;
      -webkit-font-smoothing: antialiased;
      color: transparent;
    }
    .hero-text-bottom {
      font-size: 4rem;
      color: white;
    }
  }
}
